.chord-progression-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chord-progression-container button {
  padding: 16px;
  font-size: 18px;
}

.chord-definer {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.closer {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.closer:hover {
  font-size: 17px;
  color: #6249e9;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 50%;
  margin: 8px 0px 8px 0px;
  background-color: #6249e9;
}

@media only screen and (min-width: 300px) {
  .chord-progression-container button {
    width: 300px;
  }
}
