.drones-container {
  display: flex;
}

.single-drone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-radius: 4px;
  border-style: groove;
}

.drone-top-btns {
  display: flex;
}
.drone-top-btns button {
  flex-grow: 1;
  padding: 4px 0px 4px 0px;
  background-color: gray;
}

.pitch-fader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.volume-fader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.volume-fader input {
  width: 70%;
}

.pitch-fader input {
  width: 72%;
}

.pitch-fader .pitch-label {
  width: 20px;
}

.wave-selector {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.chord-container {
  background-color: pink;
  width: 100vw;
  display: flex;
}

.chord-container button {
  flex-grow: 1;
}

.octave-button-container {
  display: flex;
}

.octave-button-container button {
  flex-grow: 1;
}

@media (orientation: portrait) {
  .drones-container {
    flex-direction: column;
  }
}
