.drones-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}

.single-drone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-style: groove;
  padding: 8px;
}

.drone-top-btns {
  display: flex;
}
.drone-top-btns button {
  flex-grow: 1;
  padding: 4px 0px 4px 0px;
  background-color: gray;
}

.drone-top-btns a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 0px 4px 0px;
  font-size: 12px;
  background-color: gray;
  border-radius: 6px;
  border-style: outset;
  border-color: gray;
  border-width: 2px;
}

.pitch-fader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.volume-fader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.volume-fader input {
  width: 80%;
}

.pitch-fader input {
  width: 80%;
}

.pitch-fader .pitch-label {
  width: 20px;
}

.wave-selector {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.chord-container {
  width: 100vw;
  display: flex;
}

.chord-container button {
  flex-grow: 1;
  height: width;
}

.octave-button-container {
  display: flex;
}

.octave-button-container button {
  flex-grow: 1;
}

@media (orientation: portrait) {
  .chord-container button {
    font-size: 10px;
  }
}
