.drum-machine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.butt-column {
  display: flex;
  flex-direction: column;
}

.machine-butt {
  width: 16px;
  height: 16px;
  margin: 1px;
}

.machine-divider {
  min-width: 16px;
}
