.drum-machine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.butt-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.butt-column input {
  max-width: 100px;
}

.drum-rate-input {
  display: flex;
  flex-direction: column;
}

.machine-butt {
  margin: 1px;
  flex-grow: 1;
  border-radius: 4px;
}

.machine-divider {
  min-width: 16px;
}
