.individual-effect {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-width: 4px;
  max-width: 200px;
  border-style: ridge;
  border-radius: 6px;
}
.individual-effect input {
  width: 100%;
}
.effects-container {
  display: flex;
  justify-content: center;
  margin: 8px;
}

@media (orientation: portrait) {
  .individual-effect {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-width: 4px;
    max-width: 200px;
    border-style: ridge;
    border-radius: 6px;
  }
  .effects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px;
  }
}
