.keyboard-keys {
  background-color: ivory;
  box-sizing: border-box;
  display: flex;
  height: 48vh;
  touch-action: none;
}

.white-key {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.black-key {
  position: relative;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  left: 75%;
  height: 60%;
  width: 50%;
  transition: 0.3s;
}

.octave-setter-container {
  display: flex;
  width: 100vw;
}

.octave-setter-container button {
  flex-grow: 1;
}
