nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100vw;
  margin: 8px;
  padding: 0;
}

nav {
  position: fixed;
  top: 8px;
  width: 100vw;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.home-link {
  pointer-events: initial;
  border-radius: 50%;
  font-size: 24px;
  background-color: #d8d1f9;
  padding: 4px 8px 4px 8px;
}

.hamburger {
  cursor: pointer;
  pointer-events: initial;
}

.slice {
  background-color: #d8d1f9;
  width: 24px;
  height: 3px;
  margin: 6px;
  border-radius: 25%;
  pointer-events: initial;
}

.dropdown-menu {
  position: fixed;
  background-color: #6249e9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: -100vh;
  transition: ease-in-out 0.3s;
}

@media (orientation: portrait) {
  nav {
    position: relative;
    height: 60px;
    width: 100vw;
    top: 0px;
    background-color: #6249e9;
  }
}
