.noise-container {
  width: 100vw;
  height: 55vh;
  touch-action: none;
  display: flex;
  flex-direction: column;
}

.noise-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.noise-area-container {
  user-select: none;
  display: flex;
  justify-content: center;
  margin: 4px;
  flex-grow: 1;
  border-radius: 6px;
}

.noise-label {
  position: absolute;
}

@media (orientation: portrait) {
  .noise-container {
    height: 66vh;
  }
}
