.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}
.main-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: ridge;
  border-radius: 6px;
  width: fit-content;
  height: 100%;
}
.settings-link-container {
  display: flex;
  justify-content: center;
}
.settings-link {
  font-size: 40px;
  width: fit-content;
}
.hide-settings-btn {
  display: flex;
  width: fit-content;
}

.wave-selector {
  justify-content: left;
  display: flex;
  flex-direction: column;
  border-style: ridge;
  border-radius: 6px;
  width: fit-content !important;
}
.wave-selector div {
  align-self: baseline;
}

.link-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

@media (orientation: portrait) {
  .settings-container {
    flex-direction: column;
    align-items: center;
  }
}
