.settings-container {
  display: flex;
}
.main-settings-container {
  display: flex;
  flex-direction: column;
}
.settings-link-container {
  display: flex;
  justify-content: center;
}
.settings-link {
  font-size: 40px;
  width: fit-content;
}
.hide-settings-btn {
  display: flex;
  width: fit-content;
}

.wave-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
