.home-container {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(22, 0, 13, 0.5), rgba(11, 0, 21, 0.2)), url('../../assets/hero.jpg');
  background-size: contain;
}

h1 {
  font-family: 'Amatic SC', monospace;
  font-size: 9vw;
}

h2 {
  font-family: 'Amatic SC', monospace;
  font-size: 32px;
}

.home-content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  background-color: #6249e9;
  text-align: center;
  color: snow;
  padding: 16px 8px 16px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.home-button-container {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  background-color: #9d8df1;
  padding: 16px;
  text-align: center;
}

footer a {
  color: snow;
  text-decoration: underline;
}

.fa {
  margin-left: 16px;
  margin-right: 16px;
}

footer .link-icons {
  font-size: 42px;
  justify-content: center;
  display: flex;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.card {
  background-color: #9d8df1;
  padding: 16px;
  flex-grow: 1;
  margin: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 8px 8px #6249e9;
}

.card p {
  width: 25vw;
}

.emoji {
  font-size: 100px;
  margin: 0px;
}
.card h2 {
  margin: 0px;
}

.card h1 {
  margin: 0px;
}

@media only screen and (max-width: 900px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    flex-grow: 0;
    width: 80vw;
  }
  .card p {
    width: 90%;
  }
}
@media (orientation: portrait) {
  h1 {
    font-size: 15vw;
  }
}
