.home-container {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(315deg, rgba(127, 90, 131, 0.6), rgba(13, 50, 77, 0.5)),
    url('../../assets/hero.jpg');
  background-size: cover;
  background-position-x: center;
}

h1 {
  font-family: 'Amatic SC', monospace;
  font-size: 9vw;
}

.home-btn {
  background-color: #6249e9;
  text-align: center;
  color: snow;
  padding: 16px 8px 16px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.home-button-container {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: space-around;
}

.home-content {
  margin: 16px;
}

footer {
  background-color: #9d8df1;
  padding: 16px;
  text-align: center;
}

footer a {
  color: snow;
  text-decoration: underline;
}

footer .link-icons {
  font-size: 42px;
  justify-content: space-evenly;
  display: flex;
}

@media (orientation: portrait) {
  h1 {
    font-size: 15vw;
  }
}
