.keypad-container {
  display: flex;
  justify-content: center;
  margin: 8px;
}

caption {
  font-size: 28px;
  height: 40px;
}

table,
td,
caption {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

caption {
  background-color: #6249e9;
}

td {
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 42px;
  transition: 0.4s;
  user-select: none;
  background-color: gray;
  border-style: ridge;
}

td:hover {
  background-color: #9d8df1;
}
