@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.App {
  box-sizing: border-box;
}

body {
  background-color: #41463d;
  color: snow;
}

a {
  color: snow;
  text-decoration: none;
}

button {
  background-color: #6249e9;
  color: snow;
  border-radius: 6px;
}

.link-btn {
  background-color: #6249e9;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  color: snow;
}
